.content {
    min-height: 600px;
}

.banner_image {
    padding-bottom: 50px;  
    text-align: center;     
    color: #f8f8f8;     
    background: url(../Img/intro-bg_1.jpg) no-repeat center;     
    background-size: cover; 
}

.banner_content{   
    background-color: rgba(0, 0, 0, 0.7);     
    max-width: 660px; 
}

#cameras:before, #watches:before, #shirts:before{
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden;
}

footer{
    padding: 10px 0px;;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}
